<body>
    <header class="test">

        <div class="main">

            {{> nav-partial item="home"}}

        </div>

        <div class="title">
            <h1>Brick That</h1>
        </div>

    </header>
</body>

{{>css-partial item="html" image= "/assets/images/legoArtwork.png"}}