<body>
    <header>
        {{> nav-partial item="home"}}

        <div class="title">
            <h1>Brick That</h1>
            <a id="ghub" href="https://github.com/brandta-1/Brick-That">GitHub</a>
        </div>

    </header>
</body>

{{>css-partial item="html" image= "/assets/images/legoArtwork.png" home=1}}