<body>
    <header class="pg1">

        <div class="main">
            <div class="logo">
                <a href="index.html">
                    <img src="assets/images/Brick that pg1.jpg">
                </a>
            </div>

            <!-- Navigation -->

            {{> nav-partial item="home"}}

            
        </div>

        <div class="title">
            <h1>Brick That</h1>
        </div>


    </header>
</body>