<body id="the-library">
    <header>

        <div class="main">
            {{> nav-partial item="library"}}
        </div>

        <div class="title">
            <h1>{{name}}'s Library</h1>
        </div>

    </header>

    {{#if legos.length}}
    {{#each legos as |lego|}}
    {{> lego-partial }}
    {{/each}}
    {{/if}}

</body>

{{>css-partial item="header" image= "/assets/images/gustavKlimt.png"}}

