<body>
    <header class="pg3">

        <div class="main">
            <div class="logo">
                <a href="index.html">
                    <img src="assets/images/Brick that lib.jpg">
                </a>
            </div>

            <!-- Navigation -->

            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/upload">UPLOAD</a></li>
                <li class="active"><a href="/library">LIBRARY</a></li>
                <li><a href="/Login">LOGIN</a></li>
            </ul>

        </div>

        <div class="title">
            <h1>Library {{name}}</h1>
        </div>

    </header>

    {{#if legos.length}}
    {{#each legos as |lego|}}
    {{> lego-partial }}
    {{/each}}
    {{/if}}

</body>