<header id="page-header">


    {{> nav-partial item="upload"}}

    <div class="title">
        
        <div class="upload-input">
            <button class="save-btn" id="1" disabled="true">Add to Library</button>
            <button class="add-btn">Get Download Link</button>
            <a href="#" download="MyImage.png" id="downloadlink">Save image</a>
            <input class="no-button" id="image_input" type="file" accept="image/jpeg, image/png, image/jpg">

        </div>
    </div>

    <canvas id="canvas_id"></canvas>
    
</header>

{{>css-partial item="html" image= "/assets/images/divisionBell.png"}}