<header class="pg2">

    <div class="main">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/Brick that blue.jpg">
            </a>
        </div>

        <!-- Navigation -->

        <ul>
            <li><a href="index.html">HOME</a></li>
            <li class="active"><a href="upload-photo.html">Upload a Photo</a></li>
            <li> <a href="library.html">library</a></li>
            <li><a href=>Login</a></li>
        </ul>

    </div>

    <div class="title">
        <h1>Upload a photo</h1>
    </div>
</header>
<main>
    <section class="describe">
        <h2 class="info_title">Upload a photo</h2>
        <button class="save-btn" id="1" disabled="true">SAVE</button>
        <input type="file" accept="image/jpeg, image/png, image/jpg">

        <canvas id="canvas_id"></canvas>

        <output></output>

        <button class="get-btn" id="1">GET</button>
    </section>
</main>