<header>


    {{> nav-partial item="upload"}}

    <div class="title">
        <h1>Upload a photo</h1>
        <div class="upload-input">
            <button class="save-btn" id="1" disabled="true">SAVE</button>
            <input class="no-button" id="image_input" type="file" accept="image/jpeg, image/png, image/jpg">

        </div>
    </div>

    <canvas id="canvas_id"></canvas>

</header>

{{>css-partial item="html" image= "/assets/images/divisionBell.png"}}