* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/* Header/Navigation  */

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 100%;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}

ul li.active a {
  background-color: #fff;
  color: #000;
}

.main {
  max-width: 1200px;
  margin: auto;
}

#the-library{
  background-color: rgb(31, 31, 31);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
 
}

.title h1 {
  color: #fff;
  font-size: 70px;
}

.upload-input {
  text-align: center;
  color: rgb(168, 168, 168);

}

.describe {
  text-align: center;
  color: rgb(168, 168, 168);
  background: black;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery img {

  max-width: 100%;
  margin-top: 50px;
}

/* Style inputs, select elements and textareas */
input[type=text],
input[type=password],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: rgb(56, 58, 58);
}

input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: rgb(56, 58, 58);
}

input[type=tele],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: rgb(56, 58, 58);
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: block;
  margin-bottom: 5px;
  color: rgb(168, 168, 168);
}

@media screen and (max-width: 1280px) {
  .title{
    position: static;
  }

  header{
    height: auto;
  }

  .upload-input {
    text-align: left;
  }

  canvas {
    max-height: 90%;
    max-width: 90%;
  }
}

.form-group {
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: white;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #aaa;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #3E8E41;
}

h3 {
  text-align: center;
  color: white;
}

.row {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 25%
  
}