* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  text-decoration: none;
  color: #fff;
}

/* Header/Navigation  */

nav {
  font-size: 25px;
  float: right;
  list-style-type: none;
  margin-top: 25px;
  padding-right: 20px;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid transparent;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
  padding: 5px 20px;
}

button:hover, ul li a:hover {
  transition: 0.6s ease;
  background-color: #fff;
  color: #000;
}

ul li.active a {
  background-color: #fff;
  color: #000;
}

#the-library {
  background-color: rgb(31, 31, 31);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;

}

.title h1 {
  color: #fff;
  font-size: 70px;
}

#ghub {
  text-align: left;
  color: #ffffff65;
  text-decoration: none;
  font-size: 40px;
  font-family: sans-serif;
  padding-bottom: 5px;

}

#ghub:hover {
  color: #fff;
  transition: 0.6s ease;
}

.upload-input {
  text-align: center;
  color: rgb(168, 168, 168);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.describe {
  text-align: center;
  color: rgb(168, 168, 168);
  background: black;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery img {

  max-width: 100%;
  margin-top: 50px;
}

/* Style inputs, select elements and textareas */


input[type=text],
input[type=password],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  color: #000;

}

label {
  padding: 12px 12px 12px 0;
  display: block;
  margin-bottom: 5px;
  color: rgb(168, 168, 168);
}

.row {
  display: flex;
  position: absolute;
  top: 35%;
  left: 55%
}

@media screen and (max-width: 800px) {

  .nav-container{
    width: 100%;
    
  }
  nav {
    position: fixed;
    font-size: 10px;
    float: none;
    padding-top: 25px;
    margin-top: 0;
    padding-right: 0;
    margin: auto;
  }
  .title {
    position: static;
  }

  .title h1 {
    font-size: 70px;
    width: 45%;
  }

  header {
    height: auto;
  }

  .upload-input {
    text-align: left;
  }

  canvas {
    max-height: 90%;
    max-width: 90%;
  }

  .title h1 {
    font-size: 55px;
  }

  .row {
    display: inline;
    top: 20%;
    left: 25%
  }

}

 .form-group {
 
  padding: 5px;
  border-radius: 5px;
} 

h3 {
  text-align: center;
  color: white;
}