* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  text-decoration: none;
  color: #fff;
}

.title {
  padding-left: 10px;
}

#ghub {
  text-align: left;
  color: #ffffff65;
  text-decoration: none;
  font-size: 40px;
  font-family: sans-serif;
  padding-bottom: 5px;

}

#downloadlink,
.add-btn {
  display: none;
}

/* Header/Navigation  */

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 100%;
  padding: 5px 20px;
}

button:hover,
ul li a:hover {
  transition: 0.6s ease;
  background-color: #fff;
  color: #000;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}

ul li.active a {
  background-color: #fff;
  color: #000;
}

.main {
  max-width: 1200px;
  margin: auto;
}

#the-library {
  background-color: rgb(31, 31, 31);
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;

}

.title h1 {
  color: #fff;
  font-size: 70px;
}

.upload-input {
  color: rgb(168, 168, 168);
}

.describe {
  text-align: center;
  color: rgb(168, 168, 168);
  background: black;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery img {

  max-width: 100%;
  margin-top: 50px;
}

/* Style inputs, select elements and textareas */
input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 15px;
  background-color: white;
}

.form-group {
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
}

.form-input {
  color: #000
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: block;
  margin-bottom: 5px;
  color: rgb(168, 168, 168);
}

.row {
  display: flex;
  position: absolute;
  top: 20%;
  right: 20%;
}

@media screen and (max-width: 1280px) {

  .save-btn,
  .add-btn {
    background-color: #fff;
    color: #000;
    margin: 10px;
  }

  .row {
    display: inline;
    top: 20%;
    left: 25%
  }


  header {
    height: auto;
  }

  .upload-input {
    text-align: left;
  }

  canvas {
    max-height: 90%;
    max-width: 90%;
  }
}



h3 {
  text-align: center;
  color: white;
}